html
{
    font-size: 62.5%;
    height: 100%;
}
/* Barra de navegacion */
.navbar 
{
    padding: 2rem;
    background-color: #f5f6f7;

}
.navbar-collapse
{
    align-items: center;
    justify-content: space-between;
}
/* Estilos generales */
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
h1
{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-oscura
{
    color: whitesmoke;
    background-color: #1b1b32;
}
.seccion-clara
{
    color: black;
    background-color: #f5f6f7;
}
.seccion-titulo
{
    font-size: 2rem;
    padding: 15px;
    font-family: 'Rubik Dirt', cursive ;
}
.seccion-texto
{
   font-size: 1.2rem;

}


/* Seccion Principal */
.hero
{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;

}
.hero-principal
{
    padding: 3rem;
}
.hero-imagen-desarrollador
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
.hero-principal h2
{
    font-size: 1.5rem;
    color: #615151;
}
/* Sobre mi */
.sobre-mi
{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor
{
    max-width: 600px;
    text-align: center;

}
/* Experiencia */
.experiencia
{
    padding: 40px 40px 60px 40px;/*superior izquierda abajo derecha*/
}
/*.experiencia .row div
{
    height: 250px;
    background-color: purple;
    border: 3px solid orange;
}*//* borde de experiencia para marcar los bordes*/
.experiencia i 
{
   font-size: 2.5rem;
   color: #7ade30;
   background-color: #0a0a23; 
   padding: 8px 19px;
   border-radius: 50%;
}
.experiencia-titulo
{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}



/* Adaptable (Responsivo) */

/* menu navbar */
@media screen and (max-width: 767px)
{
    .navbar-brand
    {
        display: none;
    }
}
@media screen and (min-width:700px)
{
    .hero-inferior-imagen
    {
       max-width: 600px; 
    }
}

/* 2:51:19 google fonts*/